header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: #111; 
    color: #fff;
    padding: 0 30px;
    transition: all 0.3s;
}

header.small {
    height: 60px;
}

header.small .logo img {
    width: 110px;
}

.logo, .user {
    font-size: 30px;
    font-weight: bold;   
}

.gnb {
    display: flex;
}


.gnb li a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

.slide {
    height: calc(100vh - 80px);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
}

section p {
    margin: 40px 0;
    line-height: 1.8;
}