.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 50px 0;
}

.text {
    margin-bottom: 30px;
}

.dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.modal {
    width: 400px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px;
    border-radius: 10px;
    position: absolute;
    display: none;
}

.modal p {
    margin: 26px 0;
}