.container {
    width: 1200px;
    margin: 0 auto;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 4px 10px;
}

.btn.active {
    background-color: #333;
    color: #fff;
}

.element-item {
    margin: 5px;
    width: 280px;
    display: inline-block;
}



.grid img {
    width: 100%;
}