.container {
    width: 600px;
    margin: 0 auto;
}

h3 {
    padding: 12px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #999;
}

h3::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 16px;
    height: 8px;
    width: 8px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
    transition: transform 0.2s;
}

h3.active::after {
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.text {
    padding: 12px;
    display: none;
}

