.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;

}

.list li {
    height: 120px;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-bottom: 20px;
}